body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#4f5555;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#wrapper {
    width:1024px;
    margin:0 auto;
}